<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author(s):</strong>
  <%= @book.author_names %>
</p>

<p>
  <strong>Tag(s):</strong>
  <%= @book.tag_names %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
